# Ignore everything by default
*
# Include docker files
!Dockerfile
!.dockerignore
# Include project source
!src
!*.sln
# Include build resources
!nuget.config
# Exclude development resources
appsettings.Development.json
appsettings.local.json
# Exclude artifacts that get placed in source
src/**/bin
src/**/obj
src/**/out
src/**/TestResults
